#root {
  font-family: "Noto Sans KR";
  box-sizing: border-box;
}

@font-face {
  font-family: "mainFont";
  src: url("./assets/fonts/BMJUA_otf.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "mainFont";
}

/* body에 대한 스크롤바 디자인 */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: rgba(33, 122, 244, 0.1);
  border-radius: 10px;
}

/* body의 스크롤바에 마우스를 올렸을 때의 디자인 */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2); /* 연한 회색 색상 */
}
